.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    background-image: linear-gradient(to right,white, rgb(0, 140, 255), white);
    border-radius: 12px;
}

.app-heading{
    font-weight: bold;
    text-decoration: none;
    color: rgb(148, 53, 140);
    margin: 20px;
    font-size: 24px;
    cursor: pointer;
    min-width: 140px;
    text-align: center;
}