<nav class="container">
    <a [routerLink]="['/first']" class="app-heading"> Property and Event Binding </a>
    <a [routerLink]="['/second']" class="app-heading"> Two way binding </a>
    <a [routerLink]="['/directives']" class="app-heading"> Directives </a>
    <a [routerLink]="['/pipes']" class="app-heading"> Pipes </a>
    <a [routerLink]="['/templateDrivenForms']" class="app-heading"> TemplateDrivenForms </a>
    <a [routerLink]="['/reactiveForms']" class="app-heading"> ReactiveForms </a>
    <a [routerLink]="['/parent']" class="app-heading"> Parent </a>
    <a [routerLink]="['/hooks']" class="app-heading"> Hooks </a>
    <a [routerLink]="['/booksList']" class="app-heading"> BooksList </a>
    <a [routerLink]="['/bookDetails']" class="app-heading"> BookDetails </a>
    <a [routerLink]="['/observables']" class="app-heading"> Observables </a>
</nav>

