<p>navigate works!</p>
<div class="container">
    <a (click)="goFirst()" class="app-heading"> Property and Event Binding </a>
    <a (click)="goSecond()" class="app-heading"> Two way binding </a>
    <a (click)="goDirectives()" class="app-heading"> Directives </a>
    <a (click)="goPipes()" class="app-heading"> Pipes </a>
    <a (click)="goTemplateDrivenForms()" class="app-heading"> TemplateDrivenForms </a>
    <a (click)="goReactiveForms()" class="app-heading"> ReactiveForms </a>
    <a (click)="goCommunication()" class="app-heading"> Component Communication </a>
</div>