<span><h2>{{ title }}</h2></span>
<form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
 
    <p>
      <label for="bookName">Book Name: </label>
      <input type="text" id="bookName" name="bookName" ngModel>
    </p>
   
    <p>
      <label for="authorName">Author: </label>
      <input type="text" id="authorName" name="authorName" ngModel>
    </p>

    <p>
        <label for="bookPrice">Price: </label>
        <input type="text" id="bookPrice" name="bookPrice" ngModel>
    </p>

    <p>
      <label for="publisher">Publisher: </label>
      <input type="text" id="publisher" name="publisher" ngModel>
    </p>
   
    <p>
      <label for="genre">Genre: </label>
      <input type="radio" value="fiction" id="genre" name="genre" ngModel> Fiction
      <input type="radio" value="science" id="genre" name="genre" ngModel> Science
      <input type="radio" value="novel" id="genre" name="genre" ngModel> Novel
      <input type="radio" value="self help" id="genre" name="genre" ngModel> Sefl Help
      <input type="radio" value="autobiography" id="genre" name="genre" ngModel> Autobiography
      <input type="radio" value="technology" id="genre" name="genre" ngModel> Technology
    </p>

    <p>
      <button type="submit" class="btn btn-primary">Submit</button>
    </p>

